<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Students</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="main.js" defer></script>
  </head>
  <body>
    <div id="app">
      <h1>Converter</h1>
      <div class="converter">
        <label>
          Enter Amount:
          <input type="number" v-model="amountToUah" @change="countTo" />
        </label>
        <label>
          From:
          <select v-model="from" @change="countTo">
            <option>EUR</option>
            <option>USD</option>
          </select>
        </label>
        <label> To: UAH</label>
        <label> Unswear:<input type="text" v-model="toUah" readonly /></label>
      </div>
      <div class="converter">
        <label>
          Enter Amount:
          <input type="number" v-model="amountFromUah" @change="countFrom" />
        </label>
        <label> From:UAH</label>
        <label>
          To:
          <select v-model="to" @change="countFrom">
            <option>EUR</option>
            <option>USD</option>
          </select>
        </label>
        <label>
          Unswear:<input type="text" v-model="fromUah" readonly />
        </label>
      </div>
      <!-- {{course.USD}} -->
      <!-- <input type="number" v-model="student[0].buy" /> -->
    </div>
  </body>
</html>
